.services-heading{
    padding: 20px;
}
.services-heading h5{
    text-align: center;
    color: #696969;
    padding: 20px;
    letter-spacing: 0.3rem;
}
.services-heading p{
    text-align: center;
    font-weight: bold;
    font-size:40px;
    font-family: "Poppins",sans-serif;
        margin: 20px;
}
.services-main-div{
    background-color: white;
}